# Copyright (c) 2017-present Arctic Ice Studio <development@arcticicestudio.com>
# Copyright (c) 2017-present Sven Greb <code@svengreb.de>

# Project:    Nord Alacritty
# Version:    0.1.0
# Repository: https://github.com/arcticicestudio/nord-alacritty
# License:    MIT
# References:
#   https://github.com/alacritty/alacritty
#
#
#
# Gruvbox theme
# https://github.com/eendroroy/alacritty-theme/blob/master/themes/gruvbox_dark.yaml

colors:
  primary:
    background: '#1c1c1c'
    foreground: '0xebdbb2'
    dim_foreground: '#282c34'
  cursor:
    text: '#2e3440'
    cursor: '#d8dee9'
  vi_mode_cursor:
    text: '#2e3440'
    cursor: '#d8dee9'
  selection:
    text: CellForeground
    background: '#4c566a'
  search:
    matches:
      foreground: CellBackground
      background: '#88c0d0'
    bar:
      background: '#434c5e'
      foreground: '#d8dee9'
  normal:
    black: '0x282828'
    red: '0xcc241d'
    green: '0x98971a'
    yellow: '0xd79921'
    blue: '0x458588'
    magenta: '0xb16286'
    cyan: '0x689d6a'
    white: '0xa89984'
  bright:
    black: '0x928374'
    red: '0xfb4934'
    green: '0xb8bb26'
    yellow: '0xfabd2f'
    blue: '0x83a598'
    magenta: '0xd3869b'
    cyan: '0x8ec07c'
    white: '0xebdbb2'
  dim:
    black: '#373e4d'
    red: '#94545d'
    green: '#809575'
    yellow: '#b29e75'
    blue: '#68809a'
    magenta: '#8c738c'
    cyan: '#6d96a5'
    white: '#aeb3bb'
key_bindings:
    - { key: Return,   mods: Control|Shift, action: SpawnNewInstance }
window:
  padding:
    x: 5
    y: 3
  opacity: 1.00
font:
  normal:
    family: 'Comic Code Ligatures'
    style: 'Regular'
  size: 11.5
live_config_reload: true
dynamic_padding: true
shell:
   program: /bin/fish
