/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

@import "mocha.css";

/* Reset all styles */

* {
  padding: 0 0;
  font-family: JetbrainsMonoNL;
  font-size: 13px;
  padding-bottom:1px;
  padding-top: 1px;
}

window#waybar {
  background: @base;
}

#workspaces button {
  min-width: 20px;
  border-bottom: 2px solid transparent;
}

#workspaces button.focused {
  border-bottom: 2px solid @peach;
}


#clock,
#battery,
#cpu,
#memory,
#idle_inhibitor,
#temperature,
#custom-keyboard-layout,
#backlight,
#network,
#pulseaudio,
#mode,
#tray,
#window,
#custom-launcher,
#custom-power,
#custom-pacman {
  padding: 0 3px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#clock {
  color: @rosewater;
}

/*#backlight {
  color: #ebcb8b;
}

#battery {
  color: #d8dee9;
}

#battery.charging {
  color: #81a1c1;
}

@keyframes blink {
  to {
    color: #4c566a;
    background-color: #eceff4;
  }
}

#battery.critical:not(.charging) {
  background: #bf616a;
  color: #eceff4;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  color: @sky;
}

#memory {
  color: #d3869b;
}

#network.disabled {
  color: #bf616a;
}

#network {
  color: #a3be8c;
}

#network.disconnected {
  color: #bf616a;
}*/

#pulseaudio {
  color: @maroon;
}

#pulseaudio.muted {
  color: @red;
}

/*#temperature {
  color: #8fbcbb;
}

#temperature.critical {
  color: #bf616a;
}*/

#idle_inhibitor {
  color: @lavender;
}

#tray {
}

/*#custom-launcher,
#custom-power {
  border-style: hidden;
}*/

#custom-keyboard-layout {
  color: @lavender;
}

#mode {
  color: @red;
}

#custom-pacman {
    color: @surface1;
}
